<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClientController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFabricanteController</servlet-name>
        <servlet-class>controller.PesquisaFabricanteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaVendaController</servlet-name>
        <servlet-class>controller.PesquisaVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>/ManterClienteController1</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterVendaController</servlet-name>
        <servlet-class>controller.ManterVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFabricanteController</servlet-name>
        <servlet-class>controller.ManterFabricanteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoVendidoController</servlet-name>
        <servlet-class>controller.ManterProdutoVendidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoVendidoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoVendidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCategoriaController</servlet-name>
        <servlet-class>controller.ManterCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <servlet-class>controller.PesquisaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoVendidocomFiltroVendaController</servlet-name>
        <servlet-class>relatorio.ProdutoVendidocomFiltroVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioProdutoController</servlet-name>
        <servlet-class>relatorio.RelatorioProdutoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClientController</servlet-name>
        <url-pattern>/PesquisaClientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFabricanteController</servlet-name>
        <url-pattern>/PesquisaFabricanteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaVendaController</servlet-name>
        <url-pattern>/PesquisaVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>/ManterClienteController1</servlet-name>
        <url-pattern>/ManterClienteController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterVendaController</servlet-name>
        <url-pattern>/ManterVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFabricanteController</servlet-name>
        <url-pattern>/ManterFabricanteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoVendidoController</servlet-name>
        <url-pattern>/ManterProdutoVendidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoVendidoController</servlet-name>
        <url-pattern>/PesquisaProdutoVendidoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCategoriaController</servlet-name>
        <url-pattern>/ManterCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <url-pattern>/PesquisaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoVendidocomFiltroVendaController</servlet-name>
        <url-pattern>/ProdutoVendidocomFiltroVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioProdutoController</servlet-name>
        <url-pattern>/RelatorioProdutoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
